header {
	display: flex;
	justify-content: space-between;
	margin: 10px 20px;
	justify-content: flex-end;
	cursor: pointer,
}

.liens .lien{
	border-radius: 10px;
}


.logo{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

.logo .moteur{
	display: flex;
	flex-direction: column;
	width: 30%;
  	margin-top: 20px;
  	padding:15px;
  	border-radius: 50px;
 	 border:1px solid #d1d1d1;
  	outline:none;
}